@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap');
$body-font-family: "Montserrat", sans-serif !important;
$btn-border-radius: 12px;

$rounded: (
  'sm': 8px,
  'md':12px,
  'lg': 18px
);
$material-light:(
  'text':('primary':#323245)
);
$btn-text-transform :capitalize ;
.theme--light.v-application code {
    background-color: #6f7787 !important;
    color: white;
  }
html{
  background-color: #f8faff !important;
  background-image: url("@/assets/Blur.svg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
}
.text-18{
  font-size: 18px !important;
}
.weight-600{
  font-weight: 600 !important;
}
.full-height{
  height: 100% !important;
}
.cursor-pinter{
  cursor: pointer;
}